<!doctype html>
<html ng-app="pkillianme" ng-controller="htmlController">
<head>
    <meta charset="charset=utf-8">
    <meta http-equiv="Content-Type" content="text/html" >

    <title ng:bind-template="PKillian :: {{$root.pageTitle}}"></title>

    <link rel="icon" 
      type="image/png" 
      href="/components/img/favicon.png">

    <!-- FontAwesome -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <!-- Google WebFonts -->
    <link 
        href='http://fonts.googleapis.com/css?family=Montserrat|Quattrocento+Sans:400,700|Varela+Round'
        rel='stylesheet' 
        type='text/css'>

    <!-- jQuery 1.8.3 -->
    <script type="text/javascript" src="/components/lib/jquery-1.8.3.min.js"></script>
    <!-- AngularJS 1.0.7 -->
    <script type="text/javascript" src="/components/lib/angular.min.js"></script>
    <!-- Angular-Sanitize 1.0.7 -->
    <script type="text/javascript" src="/components/lib/angular-sanitize.min.js"></script>

    <!-- Marked.js -->
    <script type="text/javascript" src="/components/lib/node_modules/marked/lib/marked.js"></script>

    <!-- Main style sheet -->
    <link rel="stylesheet" href="/components/css/main-theme.css?{{cacheBust}}">

    <!-- Main pkill Encapsulation -->
    <script type="text/javascript" src="/components/js/pkillianme.js?{{cacheBust}}"></script>

    <!-- Angular Directives -->
    <script type="text/javascript" src="/components/js/app.js?{{cacheBust}}"></script>
    <script type="text/javascript" src="/components/js/controllers.js?{{cacheBust}}"></script>

    <!-- Google Analytics -->
    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-47387011-1', 'pkillian.me');
      ga('send', 'pageview');
    </script>

</head>

<body>
    <header class="header">
        <a class="nameplate" href="#/">
            <span class="name">pkillian</span><span class="extension">.me</span>
        </a>

        <div class="nav_sections">
            <a class="section_link" href="#/" id="home_section_link"><div class="section_div">Blog</div>
            <!-- </a><a class="section_link" href="#/projects" id="projects_section_link"><div class="section_div">Projects</div></a> -->
            </a><a class="section_link" href="#/resume" id="resume_section_link"><div class="section_div">Resume</div></a>
        </div>

        <div class="subhead">
            <span class="title">Programming. Music. Design.</span>
        </div>
    </header>

    <div class="content">

        <div class="sidebar">
            <div class="sb_content">
                <div class="sb_nameplate" href="http://www.linkedin.com/pub/patrick-killian/41/909/a61/" target="_blank">
                    <div class="sb_icon"></div>
                    <span class="sb_nickname">Patrick Killian</span>
                    <div class="sb_about_container">
                        <span align="center" class="sb_about">Berkeley student by day</span>
                        <span align="center" class="sb_about">Code mercenary by night</span>
                    </div>
                    <hr/>
                    <ul class="social_media_list">
                        <li>
                            <a href="http://www.linkedin.com/in/pkillian">
                                <i class="icon-fixed-width icon-linkedin-sign"></i>
                                linkedin.com
                            </a>
                        </li>
                        <li>
                            <a href="http://www.github.com/pkillian">
                                <i class="icon-fixed-width icon-github"></i>
                                github.com
                            </a>
                        </li>
                        <li>
                            <a href="http://www.bitbucket.org/pkillian">
                                <i class="icon-fixed-width icon-bitbucket"></i>
                                bitbucket.org
                            </a>
                        </li>
                        <!-- <li>
                            <a href="http://www.twitter.com/PJKillian">
                                <i class="icon-fixed-width icon-twitter"></i>
                                twitter.com
                            </a>
                        </li> -->
                        <li>
                            <a href="mailto:pkillian@berkeley.edu?Subject=Hey%20there!">
                                <i class="icon-fixed-width icon-envelope"></i>
                                pkillian@berkeley.edu
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="cc"><img class="cc-img" src="/components/img/att-nocommercial.png"/>Attribution-NonCommercial - 2014</div>
        </div>

        <div class="main"> 
            <div ng-view class="angular-view" id="viewport"></div>
        </div>

    </div>

</body>

</html>
